.App {

  text-align: center;

}
.fill
{
  fill: #967DFA 
}
.title-container
{
  box-shadow: 0 10px 10px #E0E1E4;
}
.top-title
{
  margin-top: 11px
}
.image-container
{
  background-image: url("./media/photo.jpg"); 
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
.white-container
{
  background-color: white;
  height: 17px;
  width: 17px; 
  top: 42px;
  left: 42px;
}
.chat-container
{
  background-color: #42B72A;
  height: 10px;
  width: 10px; 
}
.messages
{
  min-height: 515px!important;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}
#messages-cont
{
  overflow-y: auto;
}
.options-button:hover
{
  cursor: pointer;
  fill: #9088F8;
}
.options-button:active
{
  background: #E0E1E4;
}
.options-button2:hover
{
  cursor: pointer;
  fill: lightgray;
}
.options-button2:active
{
  background-color: #E0E1E4;
}
.txt-message
{
  max-width: 400px;
  height: auto;
  word-wrap: break-word;
}
.bg-user
{
  background: linear-gradient(to right, #967DFA, #9088F8);
  color: white;
  fill: white;
}
.item
{
  color: black;
}
.item:hover
{
 color: #9088F8;
}
.item:active
{
  background-color: #F5F6F8;
}
.pointer
{
  cursor: pointer;
}
#input-txt
{
  outline: none!important;
  border: 0px;
}
#input-txt::placeholder
{
  color : grey;
}
#input-txt:focus
{
  box-shadow: 0 0 0 0.2rem transparent;
}
.color-1
{
  background-color: #F5F6F8;
}
.color-2
{
  background-color: #E0E1E4;
}
.color-2-txt
{
  color: lightgrey;
  font-size: 12px;
}
.color-3
{
  background-color: #967DFA;
}
.color-4-txt
{
  color: #858280;
  font-size: 12px;

}
.color-5-txt
{
  color: #C6B6C9
}
.color-6
{
  background-color: #9088F8;
}
.color-6-txt
{
  color: #9088F8;
}